@import '../../containers/App/styles/variables';

:local(.styles) {

  p {
    padding: 20px;
  }

  div > div:nth-child(2) > div {
    background-color: $darkGrey !important;
    height: 93px;
  }

  h1 {
    text-align: left;
  }

}